@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

:root {
  --bg: #efefef;
  --fontColor: #333;
}

.dark {
  --bg: #333;
  --fontColor: #efefef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: inherit;
}
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
